<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../public/styles.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
  </head>

  <nav class="navbar">
    <div class="links">
      <a href="/">HOME</a>
    </div>
  </nav>

  <body class="content">
    <h1><%= name %></h1>
    <div class="submit">
      <p class="statement"><%= statement %></p>
      <form method="POST" class="submit-form blue">
        <textarea required placeholder="your code" name="code"></textarea>
        <!-- <textarea required placeholder="your input" name="input"></textarea> -->
        <select required name="lang">
          <option value="cpp">C++</option>
          <option value="java">Java</option>
          <option value="py">Python</option>
        </select>
        <input type="submit" value="submit!" />
      </form>
    </div>

    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>

    <script>
      var firebaseConfig = {
        apiKey: "AIzaSyA-Wu88uS3A6NMzCrF5l3DloHHgaNi-aLA",
        authDomain: "judge-9f4ba.firebaseapp.com",
        projectId: "judge-9f4ba",
        storageBucket: "judge-9f4ba.appspot.com",
        messagingSenderId: "735452787743",
        appId: "1:735452787743:web:a22b6f38a3ac4787e3512a",
      }
      if (!firebase.apps.length) {
        firebase.initializeApp(firebaseConfig)
      }

      const auth = firebase.auth()
      const db = firebase.firestore()
      db.settings({ timestampsInSnapshots: true })
    </script>
    <script src="../firebase/index.js"></script>
    <script src="../firebase/auth.js"></script>
  </body>
</html>
